<div class="container">
    <div>
        <h1>{{ cocktail?.name }} </h1>  

        <h2>Ingredients</h2>
        <div
            *ngFor="let item of cocktail.ingredients"
        >
            <ul>
                <div *ngFor="let ingredient of item | keyvalue">
                    <li>{{ingredient.value}} {{ingredient.key}}</li>
                </div>
            </ul>
        </div>
        <h2>Instructions</h2>
        <ol>
            <div *ngFor="let instruction of cocktail.instructions | keyvalue">
            <li> <span>{{ instruction.value}} </span> </li>
            </div>      
        </ol>
    </div>
    <div class=img-container>
        <img src="assets/cocktail_image.jpg" alt="whatev" width="500" />
    </div>
</div>

